.contact-hero {
    background-image: url('../../assets/banners/contact_banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.reachout {
    background-image: url('../../assets/background/bg_image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hire_car {
    background-image: url('../../assets/banners/hire_car.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contact-get-in-touch-bg {
    background-image: url('../../assets/background/bg_image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contact-get-in-touch {
    background-image: url('../../assets/others/get_in_touch.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}